## -*- coding: utf-8 -*-
<div id="sidemenu">
%if posts:
<div class="list-group">
    <% categories = {} %>
    % for post in posts:
        % if post.meta('category') and isinstance(post.meta('category'), str):
            <% category = post.meta('category') %>
            %if category in categories:
                <% categories[category].append(post) %>
            % else:
                <% categories[category] = [] %>
                <% categories[category].append(post) %>
            % endif
        % endif
    % endfor

    <ul class="list-post">
        % for category in categories.keys():
            <li id="${category}" class="item-category-name item-title">
                ${category}
                <span class="category-count">( ${len(categories[category])} )</span>
            </li>

            <% cat_posts = categories[category] %>
            % for post in cat_posts:
                <span class="post-date">${post.meta("date")}</span>
                <a class="post-title" href="${post.permalink()}">${post.title()|h}</a>
            % endfor
        % endfor
    </ul>
</div>
%endif
</div>
